.padd{
    margin-top: 50px;

    justify-content: center;

}

h1{
    margin-left: 500px;
}
.con{
    margin-left: 40px;
}
.cont{
    margin-left: 40px;
}
.container{
    margin-left: 40px;
}

.grid{
padding-left: 40px;
}
.pass{
    padding-left: 40px;
}
.gridds{
    padding-left: 40px;
}
.door{
    padding-left: 40px;
}
.kit{
    padding-left: 40px;
}
